av==10.0.0
opencv-python==4.7.0
matplotlib==3.7.1
numpy==1.24.2
protocol==0.1.0
pyfakewebcam==0.1.0
pyquaternion==0.9.9
PyYAML==6.0
scikit_learn==1.2.2
scipy==1.10.0
simple_pid==2.0.0
tellopy==0.7.0.dev0
ultralytics==8.0.110